.body{
    position: absolute;
    flex-direction: column; 
    display: flex;



    justify-content: center;
    align-items: center;

    
}


/* 
    Dialog open close
 */


.dialog{
    
    /* margin 100px; */
    border: 5px solid rgb(243, 6, 6);
    transform: translateX(50px);
    transition: all 2s ease-in;

}

dialog.opened {
    border: 5px solid rgb(232, 51, 10);
    transition: all 2s ease-in;


}


.myCloseButtonDiv{

display: flex;


}


.dialog::backdrop {
    opacity: 0;
    background-color: rgba(222, 74, 5, 0.5);
    transition: all 5s ease-in;
}



.dialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(25, 139, 170, 0.5);
    transition: all 5s ease-in;
}



/* 

Dialog open close     */


/* Header Footer     

*/


.MyMain{

    min-height: 100vh;
    
    display:flex;           
    flex-direction: column;

 }


.Header{   

    display: flex;

    color: red;
    height: 55px;
    background-color: rgb(11, 33, 852);
    
}

.Footer{

    display: flex;

    color: red;
    height: 55px;
    background-color: rgb(21, 33, 852);
}





.my_content{
        height: 100px;
        width: 100px;

        margin: 5px;

}

.mySection{


    display:flex;           

    flex-direction: column;

    flex-wrap: 200px 200px;
    margin: 20px;
   


    }




     .conoleAndMain{
        
        display: flex;
        flex-direction: row;
        align-self: center;

        margin: 0;
        
    
    }


    

    .DialogImgClass{

     display:flex;


    width: 400px;
    height: 400px;

    min-width:400px ;
    /* max-height: 55px; */

     align-items: center;
     object-fit: contain;
     background-color: black;
     background-size: cover;
     border: 22 solid rgb(26, 38, 147);



     }



     /* Buttons */

    .myLeftButton{     
    
      
        display: flex;
        width: 20px;
        align-items: center;
        background-color: aqua;

}

    .myRightButton{
        
        
        display: flex;
        align-items: center;
        
        width: 20px;
       
        background-color: aqua;

    }





 

