:root {

  --main-background: rgb(0, 68, 185);

  --HeaderFooterBG: rgb(3, 14, 77);
  --HFerHeigh: 55px;

  --consoleWidthH1element: 23px;
  --consoleHeightH1element: 23px;


  /* var(--HeaderFooterBG) */
}

.body {

  margin: 0;
  height: 100vh;
  flex-direction: column;
  align-content: center;

  display: flex;
  background-color: var(--main-background);



}




.h1 {

  color: rgb(189, 28, 28);
  font-size: 62px;
  border: 16px;
  border-color: rgb(220, 175, 175);
}


.h2 {

  color: rgb(189, 28, 28);
  font-size: 32px;
  border: 16px;
  border-color: rgb(220, 175, 175);
}



p {

  width: var(--consoleWidthH1element);
  height: var(--consoleHeightH1element);






  /* border-width: 30px; */


}









/* Header Footer     

*/



.Header {

  display: flex;
  justify-content: center;
  height: var(--HFerHeigh);
  background-color: var(--HeaderFooterBG);



}

.Footer {

  display: flex;

  ;
  height: var(--HFerHeigh);
  background-color: var(--HeaderFooterBG);
}

/* All  in Main */


.MyMain {

  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-self: center;
  width: 100vw;
  background-color: var(--main-background);
}



.my_divcontent {

  width: 100%;
  height: auto;
  display: flex;
  margin-left: 155px;
  margin-right: 155px;
  justify-content: center;

}



.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
  margin: 5px;
  align-content: flex-start;
  justify-content: center;
  max-width: 1920px;


}



.gallery-img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  border: solid rgb(64, 0, 255);
  border-radius: 18px;

}


.gallery-img:hover {


  transition: 0.47s;
  border: solid rgb(21, 171, 41);

}

.gallery-img:focus {


  transition: 0.47s;
  border: solid rgb(21, 171, 41);

}








/* 
    Dialog open close
 */







.myDialog {

  /* margin 100px; */
  border: 5px solid rgb(251, 254, 199);
  transform: translateX(0px);
  transition: all 2s ease-in;

}





.myDialog.opened {
  border: 5px solid rgb(3, 67, 140);
  transition: all 2s ease-in;
  background-color: transparent;


}


.myClosePlusNavresponsiveDiv {

  display: none;
  flex-direction: row-reverse;

}


.myDialog::backdrop {
  opacity: 0;

}



.myDialog.opened::backdrop {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 2.3s ease-in;

}

/* 

Dialog open close     */



.LogoMaxWidth {

  display: flex;
  width: 100vw;
  max-width: 1920px;

  ;

}


.Fotogram_Logo {

  margin-top: 3px;
  margin-left: 5px;
  height: 48px;



}

.consoleAndMain {

  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}



.mySection {


  display: flex;
  flex-direction: column;

}


.DialogImgClass {

  display: flex;


  width: 700px;
  height: 600px;
  min-width: 400px;

  align-items: center;
  object-fit: contain;
  background-color: transparent;
  /* background-size: cover; */
  border: 22 solid rgb(26, 38, 147);

}

.dialogImageTitleCL {

  width: 300px;
  display: flex;
  background-color: rgba(255, 0, 0, 0.58);
  justify-content: center;
  border-radius: 12px;


}


.myCloseAndPicName {


  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;


}

/* Buttons */

.myLeftButton {


  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;

}

.myRightButton {


  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;

}

.consoles_Resp {

  display: none;
}


.close_Resp {

  display: flex;
  flex-direction: row-reverse;
}



/* Media Querris */

@media (max-width: 858px) {


  /* .MyMain {
    padding: 10px;
    justify-content: flex-start
  } */

  .DialogImgClass {
    width: 300px;
    height: 300px;
    min-width: 300px;
  }


  .gallery-img {
    height: 120px;
    width: 120px;
    margin: 5px;

  }
}


@media (max-width: 480px) {


  .myClosePlusNavresponsiveDiv {

    display: flex;
    flex-direction: row-reverse;

  }



  .h1 {
    font-size: 12px
  }

  .h2 {
    font-size: 22px
  }

  .DialogImgClass {
    width: 250px;
    height: 250px;
    min-width: 250px;
  }

  .myLeftButtonResp,
  .myRightButtonResp {
    display: none;
  }

  .consoles_Resp {

    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
  }

  .close_Resp {
    display: none;
  }


  .gallery-img {
    height: 100px;
    width: 100px;
    margin: 5px;

  }

  .Fotogram_Logo {
    height: 35px;

    margin-top: 1.2px;
    margin-left: 3px;

  }



}