
:root { 

      --main-background: rgb(0, 68, 185);
      --pane-padding: 5px 42px;
      --HeaderFooterBG: rgb(3, 14, 77);
      --HFerHeigh: 55px;
      --colorArrows: red;
      --colorArrBordercolor: rgba(193, 44, 238, 0.39);
      --colorArrBackgroundcolor: rgb(13, 7, 193);
      --consoleColorH1element:red;
      --consoleWidthH1element: 23px;
      --consoleHeightH1element: 23px;


 /* var(--HeaderFooterBG) */
}

.body{

    margin: 0;    
    height: 100vh;
    flex-direction: column; 
    display: flex;    
    
}




.h1{ 

  color: rgb(189, 28, 28);
  font-size: 32px;
  border: 16px;
  border-color: rgb(220, 175, 175);
}



p{
  color: var(--consoleColorH1element);
  width: var(--consoleWidthH1element);
  height: var(--consoleHeightH1element);
 
  border: solid 10px;
  
  border-color: var(--colorArrBordercolor);
  background-color: var(--colorArrBackgroundcolor);
  


  border-radius: 50%;
  /* border-width: 30px; */


}









/* Header Footer     

*/



.Header{   

    display: flex;
    height: var(--HFerHeigh); 
    background-color: var(--HeaderFooterBG) 
  
    
}

.Footer{

    display: flex;
    height: var(--HFerHeigh);
    background-color: var(--HeaderFooterBG) 
}

/* All  in Main */


.MyMain {
    
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 100vw;
    background-color: var(--main-background) 


}



 .my_divcontent{

  width: 100%;
  height: auto;       
  display: flex;
  margin-left: 55px;
  margin-right: 55px;
  
}



.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
  margin: 5px;
  align-content: flex-start;
  justify-content: center;

  
}



.gallery-img{
  width: 210px;
  height: 210px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  border: solid rgb(64, 0, 255);
}


.gallery-img:hover {


    transition: 0.47s;
    border: solid rgb(21, 171, 41);

}

.gallery-img:focus {

  
    transition: 0.47s;
    border: solid rgb(21, 171, 41);

}








/* 
    Dialog open close
 */







.myDialog{
    
    /* margin 100px; */
    border: 5px solid rgb(251, 254, 199);
    transform: translateX(0px);
    transition: all 2s ease-in;
  
}





.myDialog.opened {
    border: 5px solid rgb(3, 67, 140);
    transition: all 2s ease-in;
    background-color: transparent;


}


.myCloseButtonDiv{

display: flex;
flex-direction: row-reverse;




}


.myDialog::backdrop {
    opacity: 0;
    /* background-color: rgb(0, 0, 0, 1.2);
    transition: all 5s ease-in; */
}



.myDialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 2.3s ease-in;
    
}





/* 

Dialog open close     */




.Fotogram_Logo{

  margin-top: 3px;
  margin-left: 5px;
  height: 48px;
  /* width: 350px; */


}

.consoleAndMain{
   
   display: flex;
   flex-direction: row;
   align-self: center;
   margin: 0;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
    
    }



.mySection{


    display:flex;           
    flex-direction: column;
 
  }






    

    .DialogImgClass{

     display:flex;


    width: 700px;
    height: 600px;
    min-width:400px ;
   
     align-items: center;
     object-fit: contain;
     background-color: transparent;
     /* background-size: cover; */
     border: 22 solid rgb(26, 38, 147);



     }



     /* Buttons */

    .myLeftButton{     
    
      color: var(--colorArrows);
        display: flex;
        width: 20px;
        align-items: center;
        background-color: transparent;
        justify-content: center;


}

    .myRightButton{
        
        
        color: var(--colorArrows);
        display: flex;
        width: 20px;
        align-items: center;
        background-color: transparent;
        justify-content: center;


    }



      /* Media Querris */

      



      



      @media (max-width: 858px) {

  .Header,
  .Footer{
    height: 50px;
  }

  .MyMain{
    padding: 10px;
    justify-content: flex-start
  }

  .DialogImgClass{
    width: 300px;
    height: 300px;
    min-width: 300px;
  }


.gallery-img{
        height: 120px;
        width: 120px;
        margin: 5px;

}
}


@media (max-width: 480px) {

  .Header,
  .Footer{
    height: 45px;
    font-size: 14px;
  }

.h1{ font-size: 16px}

  .DialogImgClass{
    width: 250px;
    height: 250px;
    min-width: 250px;
  }

  .myLeftButton,
  .myRightButton{
    width: 30px;
  }

  
.gallery-img{
        height: 100px;
        width: 100px;
        margin: 5px;

}

.Fotogram_Logo {
    height: 35px;
/* 
    width: 250px; */
}



}








 

