.h1{ 

  color: rgb(218, 25, 25);
  font-size: 32px;
  border-bottom: solid 5px;
  border-color: rgb(220, 175, 175);
}


.body{

    margin: 0;    
    height: 100vh;
    flex-direction: column; 
    display: flex;    
    
}

.MyMain {
    
    display: flex;
    flex: 1;
    justify-content: flex-start;
    background-color: rgb(0, 68, 185);
    align-items: center;
    flex-direction: column;
    align-self: center;
}


.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
  margin: 5px;
  align-content: flex-start;
  justify-content: center;
}

.gallery:hover {

  border: 1110px;
  border-color: rgb(255, 4, 0);

}








.gallery-img{
  width: 210px;
  height: 210px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}







 .my_divcontent{


  width: 100%;
  height: auto;       
  display: flex;
  margin-left: 55px;
  margin-right: 55px;
}





/* 
    Dialog open close
 */







.dialog{
    
    /* margin 100px; */
    border: 5px solid rgb(243, 6, 6);
    transform: translateX(50px);
    transition: all 2s ease-in;

}

dialog.opened {
    border: 5px solid rgb(232, 51, 10);
    transition: all 2s ease-in;
    background-color: transparent;


}


.myCloseButtonDiv{

display: flex;
flex-direction: row-reverse;

}


.dialog::backdrop {
    opacity: 0;
    background-color: rgb(216, 23, 23);
    transition: all 5s ease-in;
}



.dialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(25, 139, 170, 0.5);
    transition: all 5s ease-in;
}



/* 

Dialog open close     */





/* Header Footer     

*/



.Header{   

    display: flex;

    color: red;
    height: 55px;
    background-color: rgb(3, 14, 77);
    /* flex-shrink: 0; */
    
}

.Footer{

    display: flex;

    color: red;
    height: 55px;
    background-color: rgb(3, 14, 77);
    /* flex-shrink: 0; */
}

.Fotogram_Logo{

  
  height: 50px;


}



.consoleAndMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.mySection{


    display:flex;           
    flex-direction: column;
 
  }




     .consoleAndMain{
        
        display: flex;
        flex-direction: row;
        align-self: center;
        margin: 0;
        
    
    }


    

    .DialogImgClass{

     display:flex;


    width: 400px;
    height: 400px;

    min-width:400px ;
    /* max-height: 55px; */

     align-items: center;
     object-fit: contain;
     background-color: transparent;
     background-size: cover;
     border: 22 solid rgb(26, 38, 147);



     }



     /* Buttons */

    .myLeftButton{     
    
      
        display: flex;
        width: 20px;
        align-items: center;
        background-color: transparent;

}

    .myRightButton{
        
        
        display: flex;
        align-items: center;
        
        width: 20px;
       
        background-color: transparent;

    }



      /* Media Querris */

      



      



      @media (max-width: 768px) {

  .Header,
  .Footer{
    height: 50px;
  }

  .MyMain{
    padding: 10px;
    justify-content: flex-start
  }

  .DialogImgClass{
    width: 300px;
    height: 300px;
    min-width: 300px;
  }


.gallery-img{
        height: 120px;
        width: 120px;
        margin: 5px;

}
}


@media (max-width: 480px) {

  .Header,
  .Footer{
    height: 45px;
    font-size: 14px;
  }

.h1{ font-size: 16px}

  .DialogImgClass{
    width: 250px;
    height: 250px;
    min-width: 250px;
  }

  .myLeftButton,
  .myRightButton{
    width: 30px;
  }

  
.gallery-img{
        height: 100px;
        width: 100px;
        margin: 5px;

}
}








 

