.h1{ 

  color: rgb(218, 25, 25);
  font-size: 32px;
  border-bottom: solid 5px;
  border-color: black;
}


.body{

    margin: 0;    
    height: 100vh;
    flex-direction: column; 
    display: flex;    
    

    
}




.MyMain {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(37, 170, 236);
    /* align-items: center; */
    flex-direction: column;
}


/* 
.MyMain{

    flex: 1;
    display:flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 170, 236);
 } */

/* 
 .website_title h1{
    size: 10px;

 } */



/* 
    Dialog open close
 */


.dialog{
    
    /* margin 100px; */
    border: 5px solid rgb(243, 6, 6);
    transform: translateX(50px);
    transition: all 2s ease-in;

}

dialog.opened {
    border: 5px solid rgb(232, 51, 10);
    transition: all 2s ease-in;
    background-color: transparent;


}


.myCloseButtonDiv{

display: flex;
flex-direction: row-reverse;

}


.dialog::backdrop {
    opacity: 0;
    background-color: rgb(216, 23, 23);
    transition: all 5s ease-in;
}



.dialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(25, 139, 170, 0.5);
    transition: all 5s ease-in;
}



/* 

Dialog open close     */





/* Header Footer     

*/



.Header{   

    display: flex;

    color: red;
    height: 55px;
    background-color: rgb(3, 14, 77);
    flex-shrink: 0;
    
}

.Footer{

    display: flex;

    color: red;
    height: 55px;
    background-color: rgb(3, 14, 77);
    flex-shrink: 0;
}





.my_content{
        display: flex;
        height: 300px;
        width: 300px;
        margin: 5px;
        flex-shrink: 0;

        }

.my_divcontent{

  display: flex;

}

.consoleAndMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.mySection{


    display:flex;           
    flex-direction: column;
 
  }




     .consoleAndMain{
        
        display: flex;
        flex-direction: row;
        align-self: center;
        margin: 0;
        
    
    }


    

    .DialogImgClass{

     display:flex;


    width: 400px;
    height: 400px;

    min-width:400px ;
    /* max-height: 55px; */

     align-items: center;
     object-fit: contain;
     background-color: transparent;
     background-size: cover;
     border: 22 solid rgb(26, 38, 147);



     }



     /* Buttons */

    .myLeftButton{     
    
      
        display: flex;
        width: 20px;
        align-items: center;
        background-color: transparent;

}

    .myRightButton{
        
        
        display: flex;
        align-items: center;
        
        width: 20px;
       
        background-color: transparent;

    }



      /* Media Querris */

      



      



      @media (max-width: 768px) {

  .Header,
  .Footer{
    height: 50px;
  }

  .MyMain{
    padding: 10px;
    justify-content: flex-start
  }

  .DialogImgClass{
    width: 300px;
    height: 300px;
    min-width: 300px;
  }


.my_content{
        height: 120px;
        width: 120px;
        margin: 5px;

}
}


@media (max-width: 480px) {

  .Header,
  .Footer{
    height: 45px;
    font-size: 14px;
  }

.h1{ font-size: 16px}

  .DialogImgClass{
    width: 250px;
    height: 250px;
    min-width: 250px;
  }

  .myLeftButton,
  .myRightButton{
    width: 30px;
  }

  
.my_content{
        height: 100px;
        width: 100px;
        margin: 5px;

}
}








 

