/* 
    Dialog open close
 */


.dialog{
    
    
    border: 5px solid red;
    transform: translateX(50px);
    transition: all 2s ease-in;

}

dialog.opened {
    border: 5px solid rgb(232, 20, 12);
    transition: all 2s ease-in;


}



.dialog::backdrop {
    opacity: 0;
    background-color: rgba(63, 140, 241, 0.5);
    transition: all 5s ease-in;
}



.dialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(25, 139, 170, 0.5);
    transition: all 5s ease-in;
}



/* 

Dialog open close     */


/* Header Footer     

*/

.Header{   

    display: flex;


    height: 200px;
    background-color: aqua;
    
}

.Footer{

    height: 200px;
}





.my_content{
        height: 100px;
        width: 100px;

        margin: 5px;

}